{% extends 'app/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}
<br>
<h2 class="text-center">About Us</h2>
<br>
<center>
<img
        src="{% static 'app/images/car_vector2.jpg' %}"
        class="d-block w-10"
        width="400"
        height="400"
      />
</center>
<h5 class="text-center">

Our this site is all about the services that we provide as car renters.<br>
We have around 100+ cars approximately distributed in Maharashtra and near by states like .... <br>
All you have to do is book a car for yourself from your comfortzone and the car would be present at 
your doorsteps at whatever time you require us.<br>
As for the perfection we provide some best drivers with proper training and are well disciplined..
</h5>
{% endblock main-content %}